
/* Centers the margin */
#main, #menubar,#logo, #content, #footer
{ margin-left: auto; 
  margin-right: auto;}

/*header for majority of pages */
#header {
  background-image: url("image/5.jpg");
  min-height: 500px;
  background-size: cover;
  } 
  
/*Logo text position*/
#logo
{ min-width: 30%;
  min-height: 30%;
  max-width: 60%;
  padding-left: 10%;
  padding-right: 30%;}
  
  /*logo text and sizing and spacing*/
  #logo h1
{ font: normal 400% 'century gothic';
  border-bottom: 0;
  margin: 0;
  letter-spacing: 0.08em;
  padding-top: 7%;
  color: lightgreen;}

/*login section in the header*/
#loginheader {
  margin: 0%;
  padding-top: 1%;
  padding-right: 1%;
  float: right;}

/*username and password padding*/
#loginheader input{
  padding: 3px;}


/*animated links on home page*/
#links{
  margin-left: 5%;
  background-color: lightblue;
  margin-right: 5%;
  margin-top: 2%;
}

#links ul {
   list-style-type: none;

    padding-left: 2%;
    padding-top: 2%;
    overflow: hidden;
    
}

#links li {
    float: left;
    padding-left: 1%;
}

/*.div2 {
    width: 300px;
    height: 100px;    
    padding: 50px;
    border: 1px solid red;
    box-sizing: border-box;
    background-color: blue;*/
  
    


#pics img {
  height: 150px;
  width: 150px;

  margin-left: 1950px;
  margin-top: 100px;

}
/*Menu bar set the width height and color*/

#navigation ul   {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgreen;
}

#navigation li {
    
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbutton{
  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  
}

.dropdown-menu {
    display: none;
    position: absolute;  
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

.dropdown-menu a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-menu a:hover {
    background-color: red;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


/* main section of the pages with max width and min height*/
#content{
  text-align: center;
  color: green;
  background-color: white;
  background-size: 100% 100%;
  max-width: 100%;
  min-height: 450px;
  margin: 0 auto 0 auto;
  padding: 5% 0 5% 0;}


/*search div on the search where inputs are*/
#searchforparks{
  width: 200px;
  margin-right: 15px;
  margin-bottom: 5px;
  padding: 4px;
  display: block;
  clear: both;}
  

/*sets no border or margin on the outter edges*/
  * {
    margin: 0px;
    padding: 0px;}

/*set font type and color and background color for everything in the body div*/
body
{ font: normal .80em arial;
  background: lightgrey;
  color: dimgrey;}

/*i paragraph tags with 1% paddings*/
 p {
   padding: 1%;}

/*general center id to set text to the middle with a margin of 20px*/
.center
{ display: block;
  text-align: center;
  margin: 20px;}

/*footer of most pages*/
  #footer{
  max-width: 100%;
  height: 20px;
  padding: 24px 0 5px 0;
  text-align: center; 
  background: #2f5b32;
  color: #FFF;}


/*Enter a review div with text and input fields*/
#enterreview {
  float: right;
  margin: 0px;
  padding: 0px;
  display: none;}

/*show a review button*/
#showreviewbutton {
  float: right;}

/*the input field name in the enter review div*/
#namereview{
  padding: 4px;
  margin: 2px 2px 4px 0px;
  width: 200px;}

/*review text field with word wrapping*/
#reviewtext{
  padding: 4px;
  margin: 4px 2px 2px 0px;
  width: 400px;
  height: 100px;
  word-wrap: break-word;}

/*date field in enter review*/
#datereview{
  padding: 4px;
  margin: 2px 2px 2px 0px;
  width: 200px;}

/*submit reveiw button */
#reviewsubmit{
  padding: 4px;
  margin: 2px;
  margin-left: 5%;}

/*paragraph fields in enter review*/
.enterreview p{
  display: inline-block;
  clear: both;}

/*map image on the result page/parks */
#map-image img{
  height: 50%;
  width: 55%;
  padding-left: 40px; /*the white space around content*/ 
  padding-bottom: 10px; /*the white space around content*/
  margin-top: 40px;
}
/*dr image on home page*/
#image img {
  height: 50%;
  width: 40%;
  padding-left: 40px; /*the white space around content*/ 
  padding-bottom: 10px; /*the white space around content*/
  margin-top: 40px;
}

  #image img:hover{
  opacity: 0.6;
  cursor: pointer;
}
/*the table field which shows results of park*/
table{
  margin-top: 10px;
  margin-left: 5%;
  border-collapse: collapse; /*sets table border collapsed into single*/
  width: 90%;
  background-color: lightblue;
  color: darkgreen; /*color of text*/
  
}

th{
  font-size: large;
  color: navy;
}
/*sets border of the rows and colums */
td, th{
  text-align: center;
  padding: 8px; /*the white space around content*/
  font-size: small;
}

/*when hovering text on reult table it changes color, text size and pointer*/
table #myBtn:hover{
  cursor: pointer;
  text-decoration: underline; /*text underline*/
  color: white;
  font-size: large;
}

/*makes background color of row different*/
tr:nth-child(odd){
  background-color: skyblue;
  
}

tr:hover {
  background-color: #ddd;
  font-size: large;
}

/* The popup page (background) */

.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /*Enable scroll if needed*/
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   
}

/* popup page Content */
.popup-content {
    overflow-y: auto; /*enable scroll If needed*/
    position: relative;/*set position to be relative fron normal position*/
    bottom: 0;
    background-color: white;
    width: 75%; /*width of modal*/
    margin-left: 20%;/*sets size of white space outside left border*/
    -webkit-animation-name: animatetop; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop; /*declares name of the @keyframes*/
    animation-duration: 0.4s/*length of time for animation to complete one cycle*/
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

/* The Close Button of modal*/
.close {
    color: white;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

/*when hovering changes color and cursor */
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*the white space around content of the header,body and footer of popup page*/
.popup-header {
    padding: 2px 16px;/*top, bottom padding are 2px and left and right are 16px */
    background-color: green;
    color: white; /*text color*/
}

.popup-body {padding: 2px 16px;}
 
.popup-footer {
    padding: 2px 16px;
    background-color: green;
 
}

/*creates comment box*/

.dialogbox .body {
  position: relative;/*set position to be relative fron normal position*/
  max-width: 300px; /*width of the comment box*/
  height: auto;/*height automatic */
  margin: 20px 10px;/*top, bottom margin are 20px and left, right are 10px */
  padding: 5px; /*the white space around content*/ 
  background-color: lightgreen;
  border: 1px solid #B28942;/*border of comment box*/
  font-family: serif;
  font-size: 12px; /*size of text*/
}

/*search page with background*/
#searchpage {
  background-image: url("rainforest1.jpg");
  background-size: 100%;
  min-height: 600px;}

/*search page footer has width of the whole screen*/
#searchfooter{
  width: 100%;
  height: 33px;
  padding: 24px 0 5px 0;
  text-align: center; 
  bottom: 0;
  position: fixed;
  background: #2f5b32;
  color: #FFF;}

/*div for the input and button fields and the search page*/
.searchparks {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  position: relative;}

/*outer div with background color*/
#searchparks{
  background: #2f5b32;
  padding: 25px;
  border-radius: 15px;}

/*inputs in the registration page*/
.forminput{
  width: 96%;
  border: 1px solid #ccc;
  text-align: center;
  background: #FFF;
  margin: 0 0 10px 0;
  padding: 10px;}

/*the input form submit button on the searchpage */
#searchparks button{
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;}

/*the h3 header in the form on the search page*/
.searchparks h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;}


/* the full page search menu bar the is across the whole page*/
#searchmenu
{ width: 100%;
  height: 72px;
  margin-bottom: 7.5%;
  padding: 0;
  background-color: #2f5b32;} 

/*the radio buttons in the forms on registration and search parks pages*/
#radiobuttons{
  text-align: center;
  background-color: white; 
  padding: 10px;
  border: 1px solid #ccc;
  margin: 0 0 10px 0;}

#radiobuttons .forminput.error{
  border-color: red;
}

/*any input with a radio type will have this border*/
input[type= "radio"]{
  margin: 0 8px 2% 18px;
  clear: both;
}

/*the labels for the radio buttons in the forms*/

  


/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}}

/* */
@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}}

/* */
@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}}

/* */
@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}}
        
/*when the screen is at the minium of 856px do this*/
@media screen and (max-width: 900px) {
    #bottom-img img,  #bottomright-img img {
      display: none;
    }
    #links{
    margin: 2px 2px 2px 2px;
    }
    
    #links li a img{
      height: auto;
      width: 50px;

    }
   table{
    margin: 1px 1px 1px 1px;
    height: auto;
    width: 100%;
   }
   th, td {
    text-align: left;
    padding: 0px;
    width: 1%;
    height:auto;
    
   }
}
/* singup text */
#a-signup {
    text-decoration: none !important;
    font-size: large !important;
    color: red !important;
}

/* showing error on form through javascript*/

#first-error, #last-error, #email-error, #uid-error, #password-error,
#pwd2-error, #gender-error, #pass-error, #name-error, #Date-error,
#pet-error, #postcode-error, #address-error, #type-error, #select-error, #phonenumber-error, #message-error, #age-error, #position-error {
  color: red;
  font-size: medium;
}

/*show error and success alert warnings through php */
#alert-error {
   
    color: white;
    text-align: center;
    font-size: medium;
    font-style: italic;
    max-width: 100%; 
}

/*#successalert {
    background-color: green; 
    color: white;
    text-align: center;
    font-size: medium;
    font-style: italic;
    max-width: 100%;
}*/

/* The close button for warning through php*/
.closebtn {
    margin-right: 5px;
    color: transparent;
    font-weight: bold;
    float: right;
    font-size: 40px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.7s;
    margin-top: -40px;
}

/* When moving the mouse over the close button for warning through php*/
.closebtn:hover {
    color: black;
}

/*update and delete and restore link of pet records*/
a.delete:link, a.delete:visited {
  text-decoration: none;
  color: red;
  font-size: medium;
}

a.update:link, a.update:visited {
  text-decoration: none;
  color: darkorange;
  font-size: medium;
}

a.restore:link, a.restore:visited {
  text-decoration: none;
  color: darkorange;
  font-size: medium;
}

a.hover {
    background-color: red;
}

/* map for the contact page */

#map{
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 25%;
  height: 500px;
  width: 50%
}

#bottom-img img{
  float: left;
  width: auto;
  height: 400px;
  margin-top: -300px;
}

#bottomright-img img{
  float: right;
  width: auto;
  height: 400px;
  margin-top: -100px; 
}

#table table{
  height: 100px;
  width: auto;
}